body {
  margin: 0;
  font-family: Raleway;
  color: #FFF;
  text-shadow: 0 2px 2px black;
  text-decoration: none;
}

.title {
  justify-content: center;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
